.header-content {
  padding: 18.25rem 0 17.5rem 0;
}

.header__desc {
  margin-bottom: 3.125rem;
}

.header__text {
  margin-bottom: 0.625rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.5rem;
}

.heading--main {
  font-size: 6.25rem;
  line-height: 9.375rem;

  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
