.header__top
    +logo("./img/logo-img.png", "./img/logo-text.png")
    .header__nav
        a.nav__link(href="#!") About
        a.nav__link(href="#!") News
        a.nav__link(href="#!") Music
        a.nav__link(href="#!") Media
        a.nav__link(href="#!") Tours
        a.nav__link(href="#!") Contacts
