.header-content
    p.header__text New Single
    h1.heading--main.heading War For Love
    .header__audio
        audio(controls preload="metadata")
            source(src="./libs/audio.mp3" type="audio/mpeg")