section.main__section
    .main__about
        .row
            .col
                .section__desc
                    h2.section__heading Bright Lights
                    p.section__text.section__text--col
                        |Bright Lights is a multi-Grammy nominated singer, songwriter, DJ and record producer. She has written for numerous
                        |pop stars including Britney Spears, Justin Bieber, Usher and Beyoncé. Her catalog has amassed over 1 billion streams worldwide. More than 100 million of those streams can be attributed to her artist career and include such hits as Porter Robinson's "Language," 3LAU's "How You Love Me" and her own single "Runaway." She was also a featured vocalist on Zedd's #1 Clarity album. Her latest music video, "Put It Down," reached 1 million streams in the first week, releasing independently. Bright Lights is currently in the studio working on a self-produced album slated for release in 2020. 
                .row
                    .col
                        ul.section__list
                            li.section__list-item Based in: Los Angeles
                            li.section__list-item Genre: #DancePop
                    .col
                        ul.section__list
                            li.section__list-item Founded in 2011
                            li.section__list-item Label: 333 Recordings
            .col.justify--right
                .about__images
                    .about__images-content
                        .about__img-wrapper.rounded--30
                            img.about__img(src="./img/main/img2.jpg")
                        .about__img-wrapper.rounded--30
                            img.about__img(src="./img/main/img3.jpg")
