.main__cards
    +main-card("card-img1.jpg")
        | Working on my upcoming full-lenth album that`s releasing later this year.
    +main-card("card-img2.jpg") 
        | Halloween vibes.
        br
        | Listen my new track!
    +main-card("card-img3.jpg")
        | WarForLove is OUT NOW!!
        br
        | Stream it here!