/* Cтили, заданные по умолчанию */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
}

body {
  color: #fff;
  background-color: #1c1b21;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

[class*="_container"] {
  position: relative;
  margin: 0 auto;
  max-width: 68.75rem;
  min-width: 20rem;
  padding: 0 15px;

  @media (min-width: 68.75rem) {
    padding: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* // Cтили, заданные по умолчанию */
